services:
  backend:
    image: em_test:1.0.0
    build: ./backend
    env_file:
      - .env
    container_name: backend
    networks:
      - app-net

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    networks:
      - app-net
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    healthcheck:
      test: nc -zv nginx 80 || exit 1
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

networks:
  app-net:
    driver: bridge